:root {
    --varName: 0;
}

.site-name {
    color: blue;
}

.active {
    color: blue;
}

.nav {
    color: red;
}

#browse, #insert, #update, #delete, #view {
    display: none;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}