<html>
<head>
<title>InnovativeSoft Database | Departments</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="forms.js"></script>
</head>

<body onload="getData(0); browseForm();">
<h1>Departments</h1>

[ <a href="/">Index</a> | <a href="Employees">Employees</a> | <a href="Projects">Projects</a> | <a href="EmployeesProjects">Employees_Projects</a> | <a href="Departments">Departments</a> | <a href="Rooms">Rooms</a> ]

<div id="browse">
  <table id="browseTable">
    <tr id="0">
      <th><p onclick="newForm()">New</p></th>
      <th></th>
      <th></th>
      <th>DepartmentID</th>
      <th>Name</th>
      <th>ManagerID</th>
    </tr>
  </table>
</div>

<div id="insert">
  <form id="createData">
    <legend><strong>Add Department</strong></legend>
    <fieldset class="fields">
      <label> Name: </label>
      <input type="text" name="name">
      <br>
      <label> ManagerID: </label>
      <input type="number" min="0" name="managerID">
    </fieldset>
    <input class="btn" type="button" value="Add Department" onclick="handleData(0, 0)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- insert -->

<div id="update">
  <form id="updateData">
    <legend><strong>Update Department</strong></legend>
    <fieldset class="fields">
      <input type="hidden" name="departmentID">
      <label> Name: </label>
      <input type="text" name="name">
      <br>
      <label> ManagerID: </label>
      <input type="number" name="managerID">
    </fieldset>
    <input class="btn" type="button" value="Save Department" onclick="handleData(0, 1)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- update -->

<div id="delete">
  <form id="deleteData">
    <legend><strong>Delete Department</strong></legend>
    <fieldset class="fields">
      <p>Are you sure you wish to delete the following?</p>
      <br>
      <label><strong> ID: </strong></label>
      <input type="number" name="departmentID" readonly>
      <br>
      <label><strong> Name: </strong></label>
      <input type="text" name="name" disabled>
    </fieldset>
    <input class="btn" type="button" value="Delete Department" onclick="handleData(0, 2)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- delete -->

<div id="view">
  <form id="viewData">
    <legend><strong>View Department</strong></legend>
    <fieldset class="fields">
      <label> ID: </label>
      <input type="number" name="departmentID" disabled>
      <br>
      <label> Name: </label>
      <input type="text" name="name" disabled>
      <br>
      <label> ManagerID: </label>
      <input type="number" name="managerID" disabled>
    </fieldset>
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- view -->

</body>
</html>