<html>
<head>
<title>InnovativeSoft Database | Employees</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="forms.js"></script>
</head>

<body onload="getData(1); browseForm();">
<h1>Employees</h1>

[ <a href="/">Index</a> | <a href="Employees">Employees</a> | <a href="Projects">Projects</a> | <a href="EmployeesProjects">Employees_Projects</a> | <a href="Departments">Departments</a> | <a href="Rooms">Rooms</a> ]

<div id="browse">
  <table id="browseTable">
    <tr id="1">
      <th><p onclick="newForm()">New</p></th>
      <th></th>
      <th></th>
      <td>EmployeeID</td>
      <td>Name</td>
      <td>DepartmentID</td>
      <td>ManagerID</td>
      <td>RoomID</td>
    </tr>
  </table>
</div> <!-- browse -->

<div id="insert">
  <form id="createData">
    <legend><strong>Add Employee</strong></legend>
    <fieldset class="fields">
      <label> Name: </label>
      <input type="text" name="name">
      <br>
      <label> DepartmentID: </label>
      <select name="departmentID">
        <option value="" selected>None</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <br>
      <label> ManagerID: </label>
      <select name="managerID">
        <option value="" selected>None</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <br>
      <label> RoomID: </label>
      <select name="roomID">
        <option value="" selected>None</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </fieldset>
    <input class="btn" type="button" value="Add Employee" onclick="handleData(1, 0)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- insert -->

<div id="update">
  <form id="updateData">
    <legend><strong>Update Employee</strong></legend>
    <fieldset class="fields">
      <input type="hidden" name="employeeID">
      
      <label> Name: </label>
      <input type="text" name="name">
      <br>
      <label> DepartmentID: </label>
      <select name="departmentID">
        <option value="" selected>None</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <br>
      <label> ManagerID: </label>
      <select name="managerID">
        <option value="">None</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <br>
      <label> RoomID: </label>
      <select name="roomID">
        <option value="">None</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </fieldset>
    <input class="btn" type="button" value="Save Employee" onclick="handleData(1, 1)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- update -->

<div id="delete">
  <form id="deleteData">
    <legend><strong>Delete Employee</strong></legend>
    <fieldset class="fields">
      <p>Delete the following Employee?</p>
      <br>
      <label> EmployeeID: </label>
      <input type="number" name="employeeID" readonly>
      
    </fieldset>
    <input class="btn" type="button" value="Delete Employee" onclick="handleData(1, 2)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- delete -->

<div id="view">
  <form id="viewData">
    <legend><strong>View Employee</strong></legend>
    <fieldset class="fields">
      <label> ID: </label>
      <input type="number" name="employeeID" disabled>
      <br>
      <label> Name: </label>
      <input type="text" name="name" disabled>
      <br>
      <label> DepartmentID: </label>
      <input type="number" name="departmentID" disabled>
      <br>
      <label> ManagerID: </label>
      <input type="number" name="managerID" disabled>
      <br>
      <label> RoomID: </label>
      <input type="number" name="roomID" disabled>
    </fieldset>
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- view -->

</body>
</html>
