<html>
<head>
<title>InnovativeSoft Database | Employees</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="forms.js"></script>
</head>

<body onload="getData(1); browseForm();">
<h1 class="pageTitle">Employees</h1>

<nav>
  <a href="/">Index</a>
  <a href="Employees" class="active">Employees</a>
  <a href="Projects">Projects</a>
  <a href="EmployeesProjects">Employees_Projects</a>
  <a href="Departments">Departments</a>
  <a href="Rooms">Rooms</a>
</nav>

<div id="browse">
  <table id="browseTable">
    <tr id="1">
      <th class="clickable"><p onclick="newForm()">New</p></th>
      <th></th>
      <th></th>
      <td>EmployeeID</td>
      <td>Name</td>
      <td>DepartmentID</td>
      <td>ManagerID</td>
      <td>RoomID</td>
    </tr>
  </table>
</div> <!-- browse -->

<div id="insert">
  <form id="createData" onsubmit="handleData(1, 0); return false">
    <legend><strong>Add Employee</strong></legend>
    <fieldset class="fields">
      <input type="hidden" name="employeeID">
      <label> Name: </label>
      <span class="required">
        <input type="text" name="name" required>
      </span>
      <br>
      <label> DepartmentID: </label>
      <select name="departmentID" id="departmentSelect"></select>
      <br>
      <label> ManagerID: </label>
      <select name="managerID" id="managerSelect"></select>
      <br>
      <label> RoomID: </label>
      <select name="roomID" id="roomSelect"></select>
    </fieldset>
    <input class="btn" type="submit" value="Add Employee">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- insert -->

<div id="update">
  <form id="updateData" onsubmit="handleData(1, 1); return false">
    <legend><strong>Update Employee</strong></legend>
    <fieldset class="fields">
      <input type="hidden" name="employeeID">
      <label> Name: </label>
      <span class="required">
        <input type="text" name="name" required>
      </span>
      <br>
      <label> DepartmentID: </label>
      <select name="departmentID" id="departmentSelect"></select>
      <br>
      <label> ManagerID: </label>
      <select name="managerID" id="managerSelect"></select>
      <br>
      <label> RoomID: </label>
      <select name="roomID" id="roomSelect"></select>
    </fieldset>
    <input class="btn" type="submit" value="Save Employee">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- update -->

<div id="delete">
  <form id="deleteData">
    <legend><strong>Delete Employee</strong></legend>
    <fieldset class="fields">
      <p>Delete the following Employee?</p>
      <br>
      <label> EmployeeID: </label>
      <input type="number" name="employeeID" readonly>
      
    </fieldset>
    <input class="btn" type="button" value="Delete Employee" onclick="handleData(1, 2)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- delete -->

<div id="view">
  <form id="viewData">
    <legend><strong>View Employee</strong></legend>
    <fieldset class="fields">
      <label> ID: </label>
      <input type="number" name="employeeID" disabled>
      <br>
      <label> Name: </label>
      <input type="text" name="name" disabled>
      <br>
      <label> DepartmentID: </label>
      <input type="number" name="departmentID" disabled>
      <br>
      <label> ManagerID: </label>
      <input type="number" name="managerID" disabled>
      <br>
      <label> RoomID: </label>
      <input type="number" name="roomID" disabled>
    </fieldset>
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- view -->

</body>
</html>
