<html>
<head>
<title>InnovativeSoft Database | Employees_Projects</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="forms.js"></script>
</head>

<body onload="getData(2); browseForm();">
<h1>Employees_Projects</h1>

[ <a href="/">Index</a> | <a href="Employees">Employees</a> | <a href="Projects">Projects</a> | <a href="EmployeesProjects">Employees_Projects</a> | <a href="Departments">Departments</a> | <a href="Rooms">Rooms</a> ]

<div id="browse">
  <table id="browseTable">
    <tr id="2">
      <th class="clickable"><p onclick="newForm()">New</p></th>
      <th></th>
      <th></th>
      <th>EmployeeID</th>
      <th>ProjectID</th>
    </tr>
  </table>
</div> <!-- browse -->

<div id="insert">
  <form id="createData">
    <legend><strong>Add Employee to Project</strong></legend>
    <fieldset class="fields">
      <label> EmployeeID </label>
      <select name="employeeID" id="employeeSelect">
      </select>
      <br>
      <label> ProjectID </label>
      <select name="projectID" id="projectSelect">
      </select>
      <br>
    </fieldset>
    <input class="btn" type="button" value="Add Employee Project" onclick="handleData(2, 0)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- insert -->

<div id="update">
  <form id="updateData">
    <legend><strong>Update Employee's Project</strong></legend>
    <fieldset class="fields">
      <input type="hidden" name="oldEmployeeID">
      <input type="hidden" name="oldProjectID">
      <label> EmployeeID </label>
      <select name="employeeID" id="employeeSelect">
      </select>
      <br>
      <label> ProjectID </label>
      <select name="projectID" id="projectSelect">
      </select>
      <br>
    </fieldset>
    <input class="btn" type="button" value="Save Employee Project" onclick="handleData(2, 1)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- update -->

<div id="delete">
  <form id="deleteData">
    <legend><strong>Delete Employee Project</strong></legend>
    <fieldset class="fields">
      <p>Are you sure you wish to delete the following?</p>
      <br>
      <label><strong> EmployeeID: </strong></label>
      <input type="number" name="employeeID" readonly>
      <br>
      <label><strong> projectID: </strong></label>
      <input type="number" name="projectID" readonly>
    </fieldset>
    <input class="btn" type="button" value="Delete Employee Project" onclick="handleData(2, 2)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- delete -->

<div id="view">
  <form id="viewData">
    <legend><strong>View Employee Project</strong></legend>
    <fieldset class="fields">
      <label> EmployeeID: </label>
      <input type="number" name="employeeID" disabled>
      <br>
      <label> ProjectID: </label>
      <input type="number" name="projectID" disabled>
    </fieldset>
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- view -->

</body>
</html>
