<html>
  <head>
    <meta charset="utf-8">
    <title>InnovativeSoft Database | Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  
  <body>
    <h1 class="pageTitle">InnovativeSoft Database</h1>
    <nav>
      <a href="/">Index</a>
      <a href="Employees">Employees</a>
      <a href="Projects">Projects</a>
      <a href="EmployeesProjects">Employees_Projects</a>
      <a href="Departments">Departments</a>
      <a href="Rooms">Rooms</a>
    </nav>
  </body>
</html>
