<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InnovativeSoft Database | Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  
  <body>
    <header>
      <h1 class="site-name">InnovativeSoft Database</h1>
	  <div id="links">
      [ <a href="/">Index</a> | <a href="Employees">Employees</a> | <a href="Projects">Projects</a> | <a href="EmployeesProjects">Employees_Projects</a> | <a href="Departments">Departments</a> | <a href="Rooms">Rooms</a> ]
	  </div>
  </body>
</html>
