<html>
<head>
<title>InnovativeSoft Database | Projects</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="forms.js"></script>
</head>

<body onload="getData(3); browseForm()">
<h1>Projects</h1>

[ <a href="/">Index</a> | <a href="Employees">Employees</a> | <a href="Projects">Projects</a> | <a href="EmployeesProjects">Employees_Projects</a> | <a href="Departments">Departments</a> | <a href="Rooms">Rooms</a> ]

<div id="browse">
  <table id="browseTable">
    <tr id="3">
      <th class="clickable"><p onclick="newForm()">New</p></th>
      <th></th>
      <th></th>
      <td>ProjectID</td>
		  <td>StartDate</td>
		  <td>EndDate</td>
		  <td>Deadline</td>
		  <td>Progress</td>
      <td>DepartmentID</td>
    </tr>
  </table>
</div> <!-- browse -->

<div id="insert">
  <form id="createData">
    <legend><strong>Add Project</strong></legend>
    <fieldset class="fields">
      <label> StartDate: </label>
      <input type="date" name="startDate" onclick="this.showPicker()">
      <br>
      <label> EndDate: </label>
      <input type="date" name="endDate" onclick="this.showPicker()">
      <br>
      <label> Deadline: </label>
      <input type="date" name="deadline" onclick="this.showPicker()">
      <br>
      <label> Progress: </label>
      <input type="range" name="progress" min="0" max="100" value="0" oninput="ProgressChanged(this, 'createProgressOutput')">
      <p id="createProgressOutput" style="display: inline-block;">0</p>
      <br>
      <label> Department: </label>
      <select name="departmentID" id="departmentSelect">
      </select>
    </fieldset>
    <input class="btn" type="button" value="Add Project" onclick="handleData(3, 0)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- insert -->

<div id="update">
  <form id="updateData">
    <legend><strong>Update Project</strong></legend>
    <fieldset class="fields">
      <input type="hidden" name="projectID">
      <label> StartDate: </label>
      <input type="date" name="startDate" onclick="this.showPicker()">
      <br>
      <label> EndDate: </label>
      <input type="date" name="endDate" onclick="this.showPicker()">
      <br>
      <label> Deadline: </label>
      <input type="date" name="deadline" onclick="this.showPicker()">
      <br>
      <label> Progress: </label>
      <input type="range" name="progress" min="0" max="100" oninput="ProgressChanged(this, 'updateProgressOutput')">
      <p id="updateProgressOutput" style="display: inline-block;">0</p>
      <br>
      <label> Department: </label>
      <select name="departmentID" id="departmentSelect">
      </select>
    </fieldset>
    <input class="btn" type="button" value="Save Project" onclick="handleData(3, 1)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- update -->

<div id="delete">
  <form id="deleteData">
    <legend><strong>Delete Project</strong></legend>
    <fieldset class="fields">
      <p>Are you sure you wish to delete the following?</p>
      <br>
      <label> ProjectID: </label>
      <input name="projectID" readonly>
    </fieldset>
    <input class="btn" type="button" value="Delete Project" onclick="handleData(3, 2)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- delete -->

<div id="view">
  <form id="viewData">
    <legend><strong>View Project</strong></legend>
    <fieldset class="fields">
      <label> ID: </label>
      <input type="number" name="projectID" disabled>
      <br>
      <label> StartDate: </label>
      <input type="date" name="startDate" disabled>
      <br>
      <label> EndDate: </label>
      <input type="date" name="endDate" disabled>
      <br>
      <label> Deadline: </label>
      <input type="date" name="deadline" disabled>
      <br>
      <label> Progress: </label>
      <input type="number" name="progress" disabled>
      <br>
      <label> DepartmentID: </label>
      <input type="number" name="departmentID" disabled>
    </fieldset>
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- view -->

</body>
</html>
