<html>
<head>
<title>InnovativeSoft Database | Rooms</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="forms.js"></script>
</head>

<body onload="getData(4); browseForm();">
<h1> Rooms </h1>

[ <a href="/">Index</a> | <a href="Employees">Employees</a> | <a href="Projects">Projects</a> | <a href="EmployeesProjects">Employees_Projects</a> | <a href="Departments">Departments</a> | <a href="Rooms">Rooms</a> ]

<div id="browse">
  <table id="browseTable">
    <tr id="4">
      <th class="clickable"><p onclick="newForm()">New</p></th>
      <th></th>
      <th></th>
      <th>RoomID</th>
      <th>Number</th>
      <th>DepartmentID</th>
    </tr>
  </table>
</div> <!-- browse -->

<div id="insert">
  <form id="createData">
    <legend><strong>Add Room</strong></legend>
    <fieldset class="fields">
      <label> Number: </label>
      <input type="number" name="number">
      <br>
      <label> DepartmentID: </label>
      <select name="departmentID" id="departmentSelect">
      </select>
    </fieldset>
    <input class="btn" type="button" value="Add Room" onclick="handleData(4, 0)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- insert -->

<div id="update">
  <form id="updateData">
    <legend><strong>Update Person</strong></legend>
    <fieldset class="fields">
      <input type="hidden" name="roomID">
      <label> Number: </label>
      <input type="number" name="number">
      <br>
      <label> DepartmentID: </label>
      <select name="departmentID" id="departmentSelect">
      </select>
    </fieldset>
    <input class="btn" type="button" value="Save Room" onclick="handleData(4, 1)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- update -->

<div id="delete">
  <form  id="deleteData">
    <legend><strong>Delete Room</strong></legend>
    <fieldset class="fields">
      <p>Are you sure you wish to delete the following?</p>
      <br>
      <label><strong> ID: </strong></label>
      <input type="number" name="roomID" readonly>
      <br>
      <label><strong> Number: </strong></label>
      <input type="number" name="number" readonly>
    </fieldset>
    <input class="btn" type="button" value="Delete Room" onclick="handleData(4, 2)">
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
  </form> 
</div><!-- delete -->

<div id="view">
  <form id="viewData">
    <legend><strong>View Room</strong></legend>
    <fieldset class="fields">
      <label> ID: </label>
      <input type="number" name="roomID" disabled>
      <br>
      <label> Number: </label>
      <input type="number" name="number" disabled>
      <br>
      <label> DepartmentID: </label>
      <input type="number" name="departmentID" disabled>
    </fieldset>
    <input class="btn" type="button" value="cancel" onclick="browseForm()">
	</form> 
</div><!-- view -->

</body>
</html>
