:root {
    /*Color palette*/
    --primaryColor: #17212b;
    --secondaryColor: #6F7D8C;
    --accentColor: #A1CDA8;
    --actionColor: #06b2f2;
    --alertColor: #E26D5A;

    /*Variables using palette*/
    --backgroundColor: var(--primaryColor);
    --logoColor: var(--secondaryColor);
    --textColorPreHover: var(--secondaryColor);
    --textColor: var(--accentColor);

    --transitionLength: 500ms;

    /*could use gradient to make table rows fade in?
    could make a time to control animations and set it from js
    --time: 0;
    */
    /*Animation*/
    --circleRotation: 10deg;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.pageTitle {
    color: var(--logoColor);
    margin-left: 5%;
}

/*Nav list*/
nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
    align-items: center;
}

nav a {
    position: relative;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
    color: var(--textColorPreHover);
    transition-duration: var(--transitionLength);
}

nav a:hover {
    color: var(--textColor);
    transition-duration: var(--transitionLength);
}

nav a::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
    transition-duration: var(--transitionLength);
    transform: scaleY(0);
}

nav a:hover::after {
    transform: scaleY(1);
    transition-duration: var(--transitionLength);
}

.active {/*This isn't used right now*/
    color: blue;
}

/*Forms*/
#browse, #insert, #update, #delete, #view {
    display: none;
}

.required::before {
    content: '*';
    color: var(--alertColor);
}

/*Tables*/
table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 5px;
}

tr:hover {
    background-color: green/*var(--actionColor)*/;
}

/*Table buttons*/
.clickable {
    color: var(--actionColor);
    transition-duration: var(--transitionLength);
    cursor: pointer;
}

.clickable:hover {
    color: var(--accentColor);
    transition-duration: var(--transitionLength);
}

/*Index Animation*/
.circleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(var(--circleRotation));
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    border: 35px dotted;
    opacity: 0.1;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(var(--offset));
}

.circle:nth-child(3n+1) {
    border-color: var(--actionColor);
}

.circle:nth-child(3n+2) {
    border-color: red;
}

.circle:nth-child(3n+3) {
    border-color: green;
}

.rectangle {
    opacity: 0;
}